<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{parts/head :: head('Midat')}"></head>
<body>
    <div class="demo">
        <div th:if="${ServerData.code}">
            <form th:action="${ServerData.url}" method="POST">
                <input name="code" th:value="${ServerData.code}">
                <input name="client_id" th:value="${ServerData.client_id}">
                <input name="client_secret" th:value="${ServerData.client_secret}">
                <input name="redirect_uri" th:value="${ServerData.redirect_uri}">
                <input name="grant_type" th:value="${ServerData.grant_type}">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

    <div id="main"></div>
    <script th:src="${isDevMode} ? 'http://localhost:8000/main.bundle.js' : '/vue/main.bundle.js'"></script>
</body>
</html>